<h1>Article saved!</h1>
{{#each article}}
<p><a href="{{this.link}}">{{this.title}}</p></a>
{{/each}}

<h1>Comments:</h1><br>
{{#each article}}<ul>
<li>{{this.comments}}</li>
{{/each}}</ul>

<form>
    <label for="comment">Type a comment</label>
    <input type="text" id="comment">
    <button type="button" id="sendComment" class="btn btn-success">Send</button>
</form>

<script src="/javascripts/comment.js"></script>